# SPDX-FileCopyrightText: Stefan Tatschner
#
# SPDX-License-Identifier: CC0-1.0

on: [push, pull_request]

name: "Linters"
permissions: {}

jobs:
  linters:
    runs-on: ubuntu-latest
    container: debian:stable

    steps:
      - uses: actions/checkout@v6
      - name: install linters
        run: |
           apt-get update && apt-get install -y git util-linux shellcheck shfmt reuse make
      - name: run linters
        run: |
           make lint
